@page "/add-item"
@using EximStockTransactions.Domain.Entities
@using EximStockTransactions.Web.Components.Elements

<PageTitle>Add New Item</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <ItemForm IsEditMode="false" />
    </div>
</div>